@charset "utf-8";
/* CSS Document */
body{
	background:url(bg.jpg);
}
h1{
	text-align:center;
}
label{
	padding-left:50px;
}
.pageprofile{
	width:450px;
	margin-left:auto;
	margin-right:auto;
}
form{
	background-color:rgba(255,255,255, 0.7);
	margin:10px;
	padding:50px;
}
.text{
	width:100%;
}
input{
	margin-top:10px;
}
label{
	margin-top:15px;
}
select{
	margin-top:15px;
}
#button-clk{
	width:100%;
	text-align:center;
}